.env
.env.backup
.env.production
.idea
.vscode
.fleet
.vs
.git
.phpunit.cache
.php-cs-fixer.cache
.phpunit.result.cache
.editorconfig
.phpstorm.meta.php
Homestead.json
Homestead.yaml
auth.json
/node_modules
**/node_modules
public/hot
public/storage
storage/*.key
vendor
_ide_helper.php
docker-compose.yml
docker
phpstan.neon
README.md
phpunit.xml
tests
storage/clockwork
bootstrap/cache
!bootstrap/cache/.gitignore
rr
npm-debug.log
yarn-error.log
